@media screen and (max-width: 1280px) {
  .news {
    background: none;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .form2 {
    &_top {
      max-width: 1170px;
      width: 100%;
    }
  }
}
@media screen and (max-width: 1024px) {
  .about {
    padding: 10px 0;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .form2 {
    &_top {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
  .input_style_form2 {
    padding: 15px 161px 15px 10px;
  }
  .bottom {
    &_container {
      gap: 41px;
      flex-wrap: wrap;
    }
  }
  .form {
    max-width: 700px;
    margin: 0 auto;
  }
}
