.form_container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-gap: 10px;
    grid-template-areas:
    "header header"
    "small-form1 big-form"
    "small-form2 big-form"
    "small-form3 big-form"
    "content content"
    "confirm-button confirm-button";
}

.header{
    grid-area: header;
    text-align: center;
    padding: 10px;
    font-weight: 700;
    font-size: 48px;
    font-family: "Oswald", sans-serif;
}

.form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "small-form1 big-form"
    "small-form2 big-form"
    "small-form3 big-form"
    "content content"
    "confirm-button confirm-button";
}

.small-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-label {
    text-align: center;
    padding: 10px;
}

.input {
    &_width{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    }
    &_checkbox{
        padding-right: 10px;
    }
}

.big-form {
    grid-area: big-form;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.form-label {
    text-align: center;
    padding: 20px;
}

.content {
    grid-area: content;
    padding: 10px;
    color: #2D5E5E;
    display: flex;
    justify-content: center;
}

    .confirm-button {
    grid-area: confirm-button;
    text-align: center;
    padding: 10px;
    &_submit{
        background-color: #2D5E5E;
        color: white;
        cursor: pointer;
        padding: 8px 74px;
        border: none;
    }
    &_submit:hover{
        color: rgb(228, 228, 228);
        background-color: #254e4e;
    }
    }

    #big-input{
    resize: none;
    height: 100%;
    width: 100%;
    }