.header {
  text-align: center;
  padding: 10px;
  font-weight: 700;
  font-size: 48px;
  grid-area: header;
}

.form {
  display: grid;
  max-width: 770px;
  margin: 0 auto;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "small-form1 big-form"
    "small-form2 big-form"
    "small-form3 big-form"
    "content content"
    "confirm-button confirm-button";
}

.small-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  text-align: center;
  padding: 10px;
}

.big-form {
  grid-area: big-form;
  display: flex;
  flex-direction: column;
}

.form-label {
  text-align: center;
  padding: 20px;
}

.content {
  grid-area: content;
  padding: 10px;
  color: #2d5e5e;
  display: flex;
  justify-content: center;
  & > input {
    display: none;
  }
  & > label {
    display: inline-block;
    padding-left: 30px; /* Резервируем место для фэйк-чекбокса */
    position: relative;
    cursor: pointer;
    color: #2d5e5e;

    &::before {
      content: "";
      position: absolute;
      left: 5px;
      top: 3px;
      width: 11px;
      height: 11px;
      border: 1.5px solid #2d5e5e; /* Цвет границы фэйк-чекбокса */
      background-color: #fff; /* Цвет фона фэйк-чекбокса */
    }
  }

  & > input:checked + label::before {
    width: 9px; /* Размер фэйк-чекбокса */
    height: 9px;
    left: 4px;
    top: 2px;
    border: 3px double white;
    background-color: #2d5e5e;
  }
}
.custom-checkbox:before {
  display: inline-block;
  cursor: pointer;
}

.confirm-button {
  grid-area: confirm-button;
  text-align: center;
  padding: 10px;

  &_submit {
    background-color: #2d5e5e;
    color: rgb(228, 228, 228);
    cursor: pointer;
    padding: 8px 74px;
    border: none;
  }
  &_submit:hover {
    color: white;
    background-color: #254e4e;
  }
}

#big-input {
  resize: none;
  height: 100%;
  width: 100%;
  padding: 8px 0 0 10px;
}

.input_style {
  margin: 0;
  padding: 10px 0;
  border-radius: 10px;
  border: 1px solid #000;
  &_form2 {
    padding: 0 82px 0 10px;
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white; /* Цвет фона select */
}

.form2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_header {
    font-size: 48px;
  }
  &_top {
    display: flex;
    max-width: 1170px;
    width: 1170px;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }
}
.confirm-button-form2 {
  padding: 0;
  text-align: unset;
  & > button {
    padding: 8px 89px;
  }
}
