.center {
  padding-left: calc(50vw - 563px);
  padding-right: calc(50vw - 563px);
}
body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
}
details {
  padding: 5px;
  cursor: pointer;
}

summary {
  outline: none;
  position: relative;
  display: flex;
  align-items: center;
}

summary::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M18.9146 8.6046H11.3953V1.08527C11.3953 0.742732 10.9302 0 9.99999 0C9.06977 0 8.60463 0.742772 8.60463 1.08527V8.60464H1.0853C0.742803 8.6046 3.05176e-05 9.06973 3.05176e-05 9.99992C3.05176e-05 10.9301 0.742803 11.3953 1.0853 11.3953H8.60467V18.9146C8.60467 19.2571 9.06977 19.9999 10 19.9999C10.9303 19.9999 11.3954 19.2571 11.3954 18.9146V11.3953H18.9148C19.2572 11.3953 20 10.9302 20 9.99992C20 9.06965 19.2571 8.6046 18.9146 8.6046Z' fill='black'/%3E%3C/svg%3E");
  display: inline-block;
  margin-right: 6px;
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease-in-out, --icon-color 0.2s ease-in-out;
}

details[open] summary::before {
  transform: rotate(45deg);
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M18.9146 8.6046H11.3953V1.08527C11.3953 0.742732 10.9302 0 9.99999 0C9.06977 0 8.60463 0.742772 8.60463 1.08527V8.60464H1.0853C0.742803 8.6046 3.05176e-05 9.06973 3.05176e-05 9.99992C3.05176e-05 10.9301 0.742803 11.3953 1.0853 11.3953H8.60467V18.9146C8.60467 19.2571 9.06977 19.9999 10 19.9999C10.9303 19.9999 11.3954 19.2571 11.3954 18.9146V11.3953H18.9148C19.2572 11.3953 20 10.9302 20 9.99992C20 9.06965 19.2571 8.6046 18.9146 8.6046Z' fill='	rgb(45, 94, 94)'/%3E%3C/svg%3E");
}
details[open] > summary:first-of-type {
  color: #2d5e5e;
}
ul {
  list-style: none;
}
