.offer {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  background: url(../img/mainPhoto.webp), lightgray 50% / cover no-repeat;
  background-position: center;
  padding: 0;
  min-height: 768px;
  &_text {
    display: flex;
    flex-direction: column;
    max-width: 454px;
    gap: 55px;
    color: #fff;
  }
  &_titel {
    font-size: 48px;
    font-weight: 700;
  }
  &_content {
    font-size: 24px;
  }
  & > a {
    text-transform: uppercase;
  }
}
